@charset "UTF-8";

body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: brown;
}

#principal {
    color: rgb(255, 1, 158);
    text-align: center;
}

.destaque {
    color: blueviolet;
}

.fixo {
    background-color: darksalmon;
}

h2 {
    color: rgb(58, 32, 8);
}